{% extends "base.html" %}

{% block content %}
<div class="card text-center">
  <div class="card-header" style="background-color: #e3f2fd; color: 000034;">
    Classroom Details 
    <span>
      <a href="{% url 'classroom-update' classroom.id %}" class="btn" style="background-color: #000034; color: white;">Update</a>
      <a href="{% url 'classroom-delete' classroom.id %}" class="btn" style="background-color: #FFA500; color: #000034;">Delete</a>
    </span>
  </div>
  <div class="card-body">
    <h5 class="card-title" style="color: 000034;">{{classroom.name}} {{classroom.subject}}</h5>
    <p class="card-text" style="color: 000034;">{{classroom.year}}</p>
    <a href="{% url 'student-create' classroom.id %}" class="btn" style="background-color: #FFA500; color: #000034;">Add Student</a>


  </div>
</div>

<div class="card text-center">
  <div class="card-header" style="background-color: #e3f2fd; color: 000034;">
   
    
   
    
    
  </div>
  {% for stu in student %}
   <div class="card-body">
    <h5 class="card-title" style="color: 000034;">{{stu.name}} <span>
      <a href="{% url 'student-update' classroom.id stu.id   %}" class="btn" style="background-color: #000034; margin-left: 100px;color: white;">Update</a>
      <a href="{% url 'student-delete'  classroom.id  stu.id %}" class="btn" style="background-color: #FFA500; color: #000034;">Delete</a>

    </span>
    </h5>
    <p class="card-text" style="color: 000034;">{{stu.exam_grade}}</p>
    {% endfor %}
   
    

  </div>
</div>
{% endblock content %}
